<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

<body>


    <section id="home">
        <div class="container">
            <img src="/assets/image/homeImg1.png" alt="" class="home-img1">
            <h1 class="container1">Manage Your</h1>
            <h1 class="container2">Project with</h1>
            <h1 class="container3">Application</h1>
            <p>Nulla facilisi. Proin felis neque, suscipit egestas erat a <br> tincidunt finibus magna consectetur
                lacus.
            </p>
            <div class="img-container">
                <img src="/assets/image/homeImg.png" alt="">
            </div>
        </div>
    </section>

    <section id="features">
        <app-features></app-features>
    </section>

    <section id="pricing">
        <app-pricing></app-pricing>
    </section>

    <section id="testimonials">
        <app-testimonials></app-testimonials>
    </section>

    <section id="questions">
        <app-questions></app-questions>
    </section>


    <section id="contact">
        <app-contact></app-contact>
    </section>

    <hr class="hr-line">

    <section>
        <app-footer></app-footer>
    </section>
</body>