#home {
  width: 1440px;
}

#features {
  width: 1440px;
}

#pricing {
  width: 1440px;
}

#testimonials {
  width: 1440px;
}

#questions {
  width: 1440px;
}

#contact {
  width: 1440px;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.container {
  position: absolute;
  height: 843px;
  left: 0%;
  right: 0%;
  top: 88px;
  margin: auto;
  width: 1440px;
  height: 843px;
}

h1.container1 {
  position: absolute;
  height: 84px;
  left: 10%;
  right: 33.28%;
  top: 140px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

.app-img2 {
  position: absolute;
  height: 673px;
  left: 83.89%;
  right: 0%;
  top: 1800px;
  border-radius: 0px;
}

.app-img1 {
  position: absolute;
  height: 196px;
  left: 83.26%;
  right: 3.61%;
  top: 2200px;
  border-radius: 0px;
}

.home-img1 {
  position: absolute;
  height: 843px;
  left: 0%;
  right: 79.72%;
  top: 0px;
  border-radius: 0px;
}

h1.container2 {
  position: absolute;
  height: 84px;
  left: 10%;
  right: 40%;
  top: 230px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

h1.container3 {
  position: absolute;
  height: 84px;
  left: 10%;
  right: 42.99%;
  top: 310px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

p {
  position: absolute;
  height: 36px;
  left: 10%;
  right: 34.63%;
  top: 400px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #737789;
}

.img-container img {
  position: absolute;
  width: 1034px;
  height: 843px;
  left: 500px;
}

.footer-header2 {
  position: absolute;
  height: 18px;
  left: 0.65%;
  right: 12.34%;
  top: -3.38px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #252c4b;
}

.hr-line {
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  max-width: 1440px;
  top: 7000px;

  background: #e4e4ee;
}
