.price-header {
  position: absolute;
  width: 93px;
  height: 18px;
  left: calc(50% - 93px / 2 + 1px);
  top: 56.53px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.price-header-color {
  color: #252c4b;
}

.price-header-box-color {
  color: #fd632f;
}

.hr-line {
  box-sizing: border-box;
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  top: 202px;
  background: #f6f6fb;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.hr-line-top {
  top: 6950px;
  border: 0.5px solid rgba(157, 156, 156, 0.2);
}

.pricing-content {
  position: absolute;
  width: 200px;
  height: 16px;
  left: calc(35% - 93px / 2 + 1px);
  top: 250px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.pricing-content-color {
  color: #737789;
}

.pricing-choose-box {
  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 54px;
  left: 90px;
  top: 496.53px;
  border: 2px solid #ffffff;
}

.pricing-choose-box-color {
  border: 2px solid;

  border-image-source: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
}

.price-cbox-content {
  position: absolute;
  width: 104px;
  height: 18px;
  left: 30px;
  top: 18px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
