<div class="price-header">Basic Pack</div>
<hr class="hr-line">
<p class="pricing-content">Extra features <br>Lifetime free support <br>Upgrate options <br> Full access
</p>
<div class="pricing-choose-box">
    <div class="price-cbox-content">Choose Plan</div>
</div>

<div class="price-header price-header-color">Basic Pack</div>
<hr class="hr-line">
<p class="pricing-content pricing-content-color">Extra features <br>Lifetime free support <br>Upgrate
    options <br> Full access
</p>
<div class="pricing-choose-box pricing-choose-box-color">
    <div class="price-cbox-content price-cbox-content-color">Choose Plan</div>
</div>