<div class="contact-container">
    <div class="contact-now">Contact Now</div>
    <div class="contact-header">Have Question? Write <br> a Message</div>

    <form action="">
        <div>
            <input type="text" class="name" placeholder="Name">
            <input type="text" class="email" placeholder="Email">
            <textarea name="" id="" cols="30" rows="10" class="messege" placeholder="Messege"></textarea>
        </div>
        <button type="submit" class="submit"> <span class="button-submit">Send Message</span></button>
    </form>
    <img src="/assets/image/contactImg1.png" alt="" class="contact-img1">
    <img src="/assets/image/msgImg.png" alt="" class="contact-img">
</div>