.contact-container {
  position: absolute;
  height: 854px;
  left: 0%;
  right: 0%;
  top: 6324px;
}

.contact-now {
  position: absolute;
  height: 18px;
  left: 10%;
  right: 81.02%;
  top: 10px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.contact-header {
  position: absolute;
  height: 111px;
  left: 10%;
  right: 25%;
  top: 30px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
}

input.name {
  box-sizing: border-box;

  position: absolute;
  height: 65px;
  left: 10%;
  right: 53%;
  top: 160px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

input.email {
  box-sizing: border-box;

  position: absolute;
  height: 65px;
  left: 10%;
  right: 53%;
  top: 240px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

textarea.messege {
  box-sizing: border-box;

  position: absolute;
  height: 194px;
  left: 10%;
  right: 53%;
  top: 320px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

button.submit {
  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 54px;
  left: 10%;
  top: 550px;
  background: #ffffff;
  border: 1px solid rgba(95, 96, 237, 1);
}

.button-submit {
  position: absolute;
  width: 121px;
  height: 18px;
  left: 20px;
  top: 15px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-img {
  position: absolute;
  height: 513px;
  left: 54%;
  right: -6.33%;
  top: 70px;
  border-radius: 0px;
}

.contact-img1 {
  position: absolute;
  height: 694px;
  left: 55%;
  right: 0%;
  top: -15px;
  border-radius: 0px;
}

.contact-img2 {
  position: absolute;
  height: 589px;
  left: 0%;
  right: 84.79%;
  top: 48px;
  border-radius: 0px;
}
