details {
  border: 1px solid #d4d4d4;
  padding: 0.75em 0.75em 0;
  margin-top: 30px;
  box-shadow: 0 0 20px #d4d4d4;
}

summary {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 55px;

  margin: -0.75em -0.75em 0;
  padding: 0.75em;
  background-color: #fff;
}

details[open] {
  padding: 0.75em;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 55px;
}

details[open] summary {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;
}
