<!-- <article class="acc-wrapper">
    <igx-accordion #accordion [singleBranchExpand]="singleBranchExpand">
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title class="acc-header">Pre and post launch mobile app marketing
                    pitfalls to avoid
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    There are many variations of passages of available but majority have
                    alteration in some by inject humour
                    or random words. Lorem ipsum dolor sit amet.

                    There are many variations of passages of available but majority have
                    alteration in some by inject humour
                    or random words. Lorem ipsum dolor sit amet.
                </div>
            </igx-expansion-panel-body>

            <igx-expansion-panel-header>
                <igx-expansion-panel-title class="acc-header">Pre and post launch mobile app marketing
                    pitfalls to avoid
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="body-container">
                    There are many variations of passages of available but majority have
                    alteration in some by inject humour
                    or random words. Lorem ipsum dolor sit amet.

                    There are many variations of passages of available but majority have
                    alteration in some by inject humour
                    or random words. Lorem ipsum dolor sit amet.
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </igx-accordion>
</article> -->