.container {
  position: absolute;
  height: 581px;
  left: 2.5%;
  right: 41.67%;
  top: -62px;
}

h1.container1 {
  position: absolute;
  height: 84px;
  left: 5%;
  right: 33.28%;
  top: 280px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

.app-img2 {
  position: absolute;
  height: 673px;
  left: 83.89%;
  right: 0%;
  top: 1800px;
  border-radius: 0px;
}

.app-img1 {
  position: absolute;
  height: 196px;
  left: 83.26%;
  right: 3.61%;
  top: 2200px;
  border-radius: 0px;
}

.home-img1 {
  position: absolute;
  height: 843px;
  left: 0%;
  right: 79.72%;
  top: 0px;
  border-radius: 0px;
}

h1.container2 {
  position: absolute;
  height: 84px;
  left: 5%;
  right: 40%;
  top: 360px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

h1.container3 {
  position: absolute;
  height: 84px;
  left: 5%;
  right: 42.99%;
  top: 440px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  color: #252c4b;
}

p {
  position: absolute;
  height: 36px;
  left: 5%;
  right: 34.63%;
  top: 530px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #737789;
}

.img-container img {
  position: absolute;
  width: 1034px;
  height: 843px;
  left: 406px;
  top: 70px;
}

.feature-list {
  position: absolute;
  width: 101px;
  height: 18px;
  left: calc(50% - 101px / 2 + 0.5px);
  top: 1000px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #f77454;
}

h5 {
  position: absolute;
  width: 481px;
  height: 111px;
  left: calc(50% - 481px / 2 + 0.5px);
  top: 1050px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  color: #252c4b;
}

.box1 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 12%;
  right: 0%;
  top: 1300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box2 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 32%;
  right: 0%;
  top: 1300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box3 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 52%;
  right: 0%;
  top: 1300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box4 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 72%;
  right: 0%;
  top: 1300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.frameImg {
  position: absolute;
  height: 129px;
  left: 25%;
  top: 40px;
  width: 129px;
  border-radius: 25px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 25px;
}

.boxtopic {
  position: absolute;
  width: 118px;
  height: 24px;
  left: calc(50% - 118px / 2);
  top: 195px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.boxcontent {
  position: absolute;
  width: 139px;
  height: 87px;
  left: calc(50% - 139px / 2 + 0.5px);
  top: 253px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #737789;
}

.app-feature {
  position: absolute;
  height: 635px;
  left: 151px;
  top: 1800px;
}

.app-container {
  position: absolute;
  height: 524px;
  width: auto;
  left: 51.04%;
  right: 10.62%;
  top: 1850px;
}

.app-topic {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 75.44%;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.app-topic-cont {
  display: inline-block;
  height: 111px;
  left: 0%;
  width: 600px;
  top: 21px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
}

.app-content-p {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 34.63%;
  width: 600px;
  top: 150px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #737789;
}

p.app-frame {
  position: absolute;
  height: 190px;
  left: 0%;
  right: 0.91%;
  top: 250px;
}

.feature-list-container {
  position: absolute;
  height: 792px;
  left: 0%;
  right: 0%;
  top: 2500px;

  background: #f6f6fb;
  border-radius: 0px;
}

.feature-list-content {
  position: absolute;
  height: 173px;
  width: 500px;
  left: 10%;
  right: 0%;
  top: 100px;
}

.feature-list-topic {
  position: absolute;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.feature-list-img-frame {
  position: absolute;
  height: 101px;
  width: 600px;
  left: 10%;
  right: 0%;
  top: 260px;
}

.img-content1 {
  position: absolute;
  height: 101px;
  left: 0%;
  right: 59.47%;
  top: calc(50% - 101px / 2);
}

.img-content2 {
  position: absolute;
  height: 101px;
  left: 45%;
  right: 10%;
  top: calc(50% - 101px / 2);
}

.img-content-p {
  position: absolute;
  height: 30px;
  left: 52.38%;
  right: 0%;
  top: calc(50% - 30px / 2 - 15.5px);

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #252c4b;
}

.feature-list-img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 11px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 20px;
}

.feature-list-p {
  position: absolute;
  height: 108px;
  left: 10%;
  right: 0%;
  top: 420px;
  width: 500px;
}

.p-content {
  top: 5px;
  left: 0%;
  width: 500px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #737789;
}

.feature-list-container-img {
  position: absolute;
  height: 552px;
  left: 50%;
  right: 0%;
  top: 100px;
}

.feature-list-img1 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}

.feature-list-img2 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  top: 110px;

  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}

.feature-list-img3 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  top: 260px;

  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}

.pricing-container {
  position: absolute;
  width: 1440px;
  height: 993px;
  left: 0px;
  top: 3301px;
}

.pricing-topic {
  position: absolute;
  width: 117px;
  height: 18px;
  left: calc(50% - 117px / 2 + 0.5px);
  top: 50px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #fd632f;
}

.pricing-header {
  position: absolute;
  width: 604px;
  height: 111px;
  left: calc(50% - 604px / 2);
  top: 70px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  /* or 120% */

  text-align: center;

  color: #252c4b;
}

.switch-container {
  position: absolute;
  height: 37px;
  left: 50%;
  right: 10.42%;
  top: 223px;
}

.switch-content1 {
  position: absolute;
  width: 67px;
  height: 36px;
  left: -20%;
  top: 0px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #252c4b;
}

.switch-content2 {
  position: absolute;
  width: 67px;
  height: 36px;
  left: 10%;
  top: 0px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  text-align: center;
  color: #737789;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: -20px;
  border-radius: 16px;
  margin: 0;
  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-box-container1 {
  position: absolute;
  height: 611px;
  width: 350px;
  left: 10%;
  right: 0%;
  top: 300px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  box-shadow: 10px 10px 60px rgba(46, 61, 98, 0.3);
  border-radius: 5px;
}

.price-header {
  position: absolute;
  width: 93px;
  height: 18px;
  left: calc(50% - 93px / 2 + 1px);
  top: 56.53px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.price-header-color {
  color: #252c4b;
}

.price-header-box {
  position: absolute;
  width: 193px;
  height: 60px;
  left: calc(50% - 193px / 2 + 1px);
  top: 74.53px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.price-header-box-color {
  color: #fd632f;
}

.hr-line {
  box-sizing: border-box;
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  top: 202px;
  background: #f6f6fb;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pricing-content {
  position: absolute;
  width: 200px;
  height: 16px;
  left: calc(35% - 93px / 2 + 1px);
  top: 250px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.pricing-content-color {
  color: #737789;
}

.pricing-choose-box {
  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 54px;
  left: 90px;
  top: 496.53px;
  border: 2px solid #ffffff;
}

.pricing-choose-box-color {
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
}

.price-cbox-content {
  position: absolute;
  width: 104px;
  height: 18px;
  left: 30px;
  top: 18px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.price-cbox-content-color {
  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.pricing-box-container2 {
  position: absolute;
  height: 611px;
  width: 350px;
  left: 40%;
  right: 0%;
  top: 300px;

  background: #ffffff;
  box-shadow: 10px 10px 60px rgba(46, 61, 98, 0.3);
  border-radius: 5px;
}

.pricing-box-container2-left {
  left: 70%;
}

.testimonials-container {
  position: absolute;
  height: 736px;
  left: 0%;
  right: 0%;
  top: 4300px;

  background: #f6f6fb;
  border-radius: 0px;
}

.testimonials-img {
  position: absolute;
  width: 483px;
  height: 432px;
  left: 100px;
  top: 150px;
}

.testimonials-header {
  position: absolute;
  height: 18px;
  left: 48%;
  top: 150px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.testimonials-header-content {
  position: absolute;
  height: 111px;
  left: 48%;
  top: 170px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
}

.testimonials-conent {
  position: absolute;
  height: 230px;
  left: 48%;
  right: 5%;
  top: 300px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 46px;
  color: #737789;
}

.testimonials-footer {
  position: absolute;
  height: 24px;
  left: 48%;
  top: 550px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f77454;
}

.question-container {
  position: absolute;
  width: 1440px;
  height: 1194px;
  left: 0px;
  top: 5030px;
}

.question-img1 {
  position: absolute;
  height: 16.92px;
  left: 45%;
  top: 40px;
}

.question-img2 {
  position: absolute;
  width: 494.34px;
  height: 98.24px;
  left: 35%;
  top: 70px;
}

.question-img3 {
  position: absolute;
  height: 926px;
  left: 3%;
  right: 0%;
  top: 200px;
}

.question-background1 {
  position: absolute;
  height: 87px;
  left: 12%;
  right: 10%;
  top: 300px;
  background: #ffffff;
  border: 1px solid #e8e8ef;
}

.question-background3-top {
  top: 620px;
}

.question-background4-top {
  top: 720px;
}

.question-background5-top {
  top: 820px;
}

.question-content1 {
  position: absolute;
  height: 18.8px;
  left: 6.46%;
  right: 44.94%;
  top: 28px;
  color: rgba(37, 44, 75, 1);
}

.question-content1-color {
  color: #5f60ed;
}

.question-background2 {
  position: absolute;
  height: 194px;
  left: 12%;
  right: 10%;
  top: 400px;
  background: #ffffff;
  border: 1px solid #e8e8ef;
}

.question-content1-p {
  position: absolute;
  height: 45px;
  left: 6.34%;
  right: 20.07%;
  top: 100px;
  font-size: 16px;
  color: #737789;
}

.contact-container {
  position: absolute;
  height: 854px;
  left: 0%;
  right: 0%;
  top: 6224px;
}

.contact-now {
  position: absolute;
  height: 18px;
  left: 10%;
  right: 81.02%;
  top: 10px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.contact-header {
  position: absolute;
  height: 111px;
  left: 10%;
  right: 25%;
  top: 30px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
}

input.name {
  box-sizing: border-box;

  position: absolute;
  height: 65px;
  left: 10%;
  right: 53%;
  top: 160px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

input.email {
  box-sizing: border-box;

  position: absolute;
  height: 65px;
  left: 10%;
  right: 53%;
  top: 240px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

textarea.messege {
  box-sizing: border-box;

  position: absolute;
  height: 194px;
  left: 10%;
  right: 53%;
  top: 320px;
  padding: 10px;

  background: #f6f6fb;
  border: 1px solid #e4e4ee;
  border-radius: 4px;
}

button.submit {
  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 54px;
  left: 10%;
  top: 550px;
  background: #ffffff;
  border: 1px solid rgba(95, 96, 237, 1);
}

.button-submit {
  position: absolute;
  width: 121px;
  height: 18px;
  left: 20px;
  top: 15px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-img {
  position: absolute;
  height: 513px;
  left: 54%;
  right: -6.33%;
  top: 70px;
  border-radius: 0px;
}

.contact-img1 {
  position: absolute;
  height: 694px;
  left: 55%;
  right: 0%;
  top: -15px;
  border-radius: 0px;
}

.contact-img2 {
  position: absolute;
  height: 589px;
  left: 0%;
  right: 84.79%;
  top: 48px;
  border-radius: 0px;
}

.hr-line-top {
  top: 6950px;
  border: 0.5px solid rgba(157, 156, 156, 0.2);
}

.footer-header2 {
  position: absolute;
  height: 18px;
  left: 0.65%;
  right: 12.34%;
  top: -3.38px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #252c4b;
}
