.feature-container {
  position: absolute;
  width: 1440px;
  height: 777px;
  left: 0px;
  top: 931px;
}

.feature-list {
  position: absolute;
  width: 101px;
  height: 18px;
  left: calc(50% - 101px / 2 + 0.5px);
  top: 90px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #f77454;
}

h5 {
  position: absolute;
  width: 481px;
  height: 111px;
  left: calc(50% - 481px / 2 + 0.5px);
  top: 130px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  text-align: center;
  color: #252c4b;
}

.box1 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 12%;
  right: 0%;
  top: 300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box2 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 32%;
  right: 0%;
  top: 300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box3 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 52%;
  right: 0%;
  top: 300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.box4 {
  position: absolute;
  height: 407px;
  width: 250px;
  left: 72%;
  right: 0%;
  top: 300px;

  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.app-feature {
  position: absolute;
  width: 472px;
  height: 635px;
  left: 151px;
  top: 800px;
}

.app-container {
  position: absolute;
  height: 524px;
  width: 1440px;
  left: 51.04%;
  right: 10.62%;
  top: 850px;
}

.app-topic {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 75.44%;
  top: -10px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
}

.app-topic-cont {
  display: inline-block;
  height: 111px;
  left: 0%;
  width: 600px;
  top: 21px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
}

.app-content-p {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 34.63%;
  width: 600px;
  top: 150px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #737789;
}

.app-frame-p {
  position: absolute;
  height: 190px;
  left: 0%;
  right: 0.91%;
  top: 250px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  color: #737789;
}

.feature-list-container {
  position: absolute;
  height: 792px;
  left: 0%;
  right: 0%;
  top: 1500px;

  background: #f6f6fb;
  border-radius: 0px;
}

.feature-list-content {
  position: absolute;
  height: 173px;
  width: 500px;
  left: 10%;
  right: 0%;
  top: 100px;
}

.feature-list-topic {
  position: absolute;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f77454;
  top: -10px;
}

.feature-list-img-frame {
  position: absolute;
  height: 101px;
  width: 600px;
  left: 10%;
  right: 0%;
  top: 260px;
}

.img-content1 {
  position: absolute;
  height: 101px;
  left: 0%;
  right: 59.47%;
  top: calc(50% - 101px / 2);
}

.img-content2 {
  position: absolute;
  height: 101px;
  left: 45%;
  right: 10%;
  top: calc(50% - 101px / 2);
}

.img-content-p {
  position: absolute;
  height: 30px;
  left: 52.38%;
  right: 0%;
  top: calc(50% - 30px / 2 - 15.5px);

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #252c4b;
}

.feature-list-img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 11px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 20px;
}

.feature-list-p {
  position: absolute;
  height: 108px;
  left: 10%;
  right: 0%;
  top: 420px;
  width: 500px;
}

.p-content {
  top: 5px;
  left: 0%;
  width: 500px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #737789;
}

.feature-list-container-img {
  position: absolute;
  height: 552px;
  left: 50%;
  right: 0%;
  top: 100px;
}

.feature-list-img1 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}

.feature-list-img2 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  top: 110px;

  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}

.feature-list-img3 {
  position: absolute;
  width: 500px;
  height: 200px;
  right: 170px;
  bottom: 388px;
  top: 260px;

  filter: drop-shadow(0px 0px 60px rgba(5, 5, 6, 0.1));
  border-radius: 4px;
}
