<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<section>
    <div class="feature-container">
        <h6 class="feature-list">Feature List</h6>
        <h5>Appton Providing You Best Features <br></h5>
        <div>
            <div class="box1">
                <app-feature-box></app-feature-box>
            </div>
            <div class="box2">
                <app-feature-box></app-feature-box>
            </div>
            <div class="box3">
                <app-feature-box></app-feature-box>
            </div>
            <div class="box4">
                <app-feature-box></app-feature-box>
            </div>
        </div>
        <div class="feature-app-container">
            <div>
                <img src="/assets/image/app.png" alt="" class="app-feature">
            </div>
            <img src="/assets/image/blogImg2.png" alt="" class="f-app-img2">
            <img src="/assets/image/blogImg1.png" alt="" class="f-app-img1">
            <div class="app-container">
                <h6 class="app-topic">Best Application</h6>
                <p class="app-topic-cont">Powerful Application for<br>Your Projects</p>
                <p class="app-content-p">Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum
                    dolore
                    eu
                    fugiat
                    nulla pariatur.</p>
                <p class="app-frame-p">
                    Refresing to get such a personal touch. <br>
                    Duis aute irure dolor in <br> reprehenderit in
                    Velit esse cillum dolore eu fugiat nulla <br> pariatur.
                </p>
            </div>

        </div>
        <div class="feature-list-container">
            <div class="feature-list-content">
                <h6 class="feature-list-topic">Feature List</h6>
                <p class="app-topic-cont">Appton Providing You <br> Best Features</p>
            </div>
            <div class="feature-list-img-frame">
                <div class="img-content1">
                    <img src="/assets/image/Frame.png" alt="" class="feature-list-img">
                    <p class="img-content-p">Responsive <br> Design</p>
                </div>
                <div class="img-content2">
                    <img src="/assets/image/Frame.png" alt="" class="feature-list-img">
                    <p class="img-content-p">Online <br> Marketing</p>
                </div>
            </div>
            <div class="feature-list-p">
                <p class="p-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur.
                    Lorem Ipsum is simply dummy text of the printing laborum perspiciatis unde.</p>
            </div>
            <div class="feature-list-container-img">
                <img src="/assets/image/FeatureListImg1.png" alt="" class="feature-list-img1">
                <img src="/assets/image/FeatureListImg2.png" alt="" class="feature-list-img2">
                <img src="/assets/image/FeatureListImg3.png" alt="" class="feature-list-img3">
            </div>
        </div>
    </div>
</section>