<div class="testimonials-container">
    <div class="testimonials-img">
        <img src="/assets/image/about.png" alt="">
    </div>
    <div class="testimonials-header">Our Testimonials</div>
    <div class="testimonials-header-content">What Our Customers Are <br> Talking About</div>
    <div class="testimonials-conent">
        This is due to their excellent service, competitive <br> pricing and customer support. It’s throughly
        refresing <br>
        to get such a personal touch. Duis aute irure dolor in <br> repre henderit in voluptate velit esse cillum
        dolore
        eu <br> fugiat nulla pariatur.
    </div>
    <div class="testimonials-footer">Joe Kolmer </div>
</div>