* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  z-index: 5;
  margin: auto;
  right: 0%;
  left: 0%;
  width: 1440px;
  background: #fff;
}

#navbar {
  list-style-type: none;
  overflow: hidden;
}

#navbar a {
  color: #737789;
  text-decoration: none;
}

#navbar .logo {
  float: left;
  padding-top: 30px;
  padding-left: 15%;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
}

#navbar ul li a {
  display: block;
  padding: 25px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  color: #5f60ed;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
    color: white;
  }

  #navbar .logo {
    float: none;
    padding-left: 0%;
    text-align: center;
  }

  #navbar ul,
  #navbar ul li {
    float: none;
  }

  #navbar ul li a {
    padding: 5px;
    border-bottom: rgb(195, 195, 195) dotted 1px;
  }
}
