p {
  font-family: Lato;
}

.placeholder {
  height: 750px;
  width: 100%;
  background-color: beige;
}

#nav {
  width: 1440px;
  margin: auto;
  z-index: 5;
}

.login {
  border: none;
  background: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #737789;
}

.container {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
}

nav {
  float: right;
}

.logo img {
  float: left;
  height: 100px;
  top: 40px;
  margin-left: 100px;
  border-radius: 0px;
  padding: 30px;
}

.li-font {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #737789;
  padding: 30px;
}

ul li a {
  text-decoration: none;
}

ul li:hover {
  color: orange;
}
