#login {
  width: 1440px;
}

.close {
  position: absolute;
  right: 30px;
  top: 10px;
  padding: 10px;
  line-height: 14px;
  min-width: auto;
  border: none;
  border-radius: 5px;
}

.content-box1 {
  position: absolute;
  width: 754px;
  height: 460px;
  left: 343px;
  top: 130px;

  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 50px;
}

.content-box2 {
  position: absolute;
  width: 754px;
  height: 660px;
  left: 343px;
  top: 130px;

  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 50px;
}

header.header {
  display: inline-block;
  position: absolute;
  height: 30px;
  left: 10%;
  right: 30%;
  top: 20px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.placeholder {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.login-buttn {
  position: absolute;
  width: 270px;
  height: 54px;
  left: 80px;
  top: 60px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 10px;
  border: none;
}

.reg-button-text {
  position: absolute;
  width: 162.31px;
  height: 18px;
  right: 50px;
  top: 15px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #353535;
}

.register-buttn {
  position: absolute;
  width: 270px;
  height: 54px;
  left: 400px;
  top: 60px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 10px;
  border: none;
}

.login-buttn-text {
  position: absolute;
  left: 90px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #353535;
}

li {
  list-style-type: none;
}

li a link {
  text-decoration: underline;
}

li a {
  color: #353535;
}

.reg-route {
  position: absolute;
  width: 162.31px;
  height: 18px;
  left: 440px;
  top: 60px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #353535;
}

label {
  position: absolute;
  height: 25px;
  left: 90px;
  right: 65.83%;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

label.email-log {
  top: 180px;
}

label.pw-log {
  top: 280px;
}

input {
  position: absolute;
  width: 560px;
  height: 39px;
  left: 90px;

  border: 1px solid #353535;
}

input.email-log {
  top: 210px;
}

input.pw-log {
  top: 310px;
}

.register {
  position: absolute;
  width: 162.31px;
  height: 18px;
  left: 450px;
  top: 50px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;
}

.sub-buttn {
  position: absolute;
  width: 560px;
  height: 54px;
  left: 90px;
  top: 430px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 10px;
  border: none;
}

.sub-buttn {
  position: absolute;
  width: 560px;
  height: 54px;
  left: 90px;
  top: 380px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 10px;
  border: none;
}
.sut-text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #353535;
}

.sub-buttn1 {
  position: absolute;
  width: 560px;
  height: 54px;
  left: 90px;
  top: 580px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 10px;
  border: none;
}
.sut-text1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #353535;
}

label {
  position: absolute;
  height: 25px;
  left: 90px;
  right: 65.83%;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

label.name {
  top: 150px;
}

label.email {
  top: 230px;
}

label.pw {
  top: 310px;
}

label.cpw {
  top: 390px;
}

label.phonenum {
  top: 470px;
}

input.name {
  top: 180px;
}

input.email {
  top: 260px;
}

input.pw {
  top: 340px;
}

input.cpw {
  top: 420px;
}

input.phonenum {
  top: 500px;
}
