<div id="footer" class="footer-container">
    <div class="footer-logo">
        <img src="/assets/image/mainLogo.png" alt="">
        <p class="footer-logo-content">Lorem Ipsum is simply dummy text the <br>printing and setting industry. Lorm
            Ipsum <br> has been the text
            ever.</p>
    </div>
    <div class="footer-2nd-content">
        <div class="footer-company">
            <h6 class="footer-header1">Company</h6>
            <li class="footer-company-list">About</li>
            <li class="footer-company-list footer-company-top">Our Team</li>
            <li class="footer-company-list footer-company-top1">Contact</li>
            <li class="footer-company-list footer-company-top2">Services</li>
        </div>
        <div class="footer-explore">
            <h6 class="footer-header2">Explore</h6>
            <li class="footer-company-list">News</li>
            <li class="footer-company-list footer-company-top">Features</li>
            <li class="footer-company-list footer-company-top1">Download</li>
            <li class="footer-company-list footer-company-top2">Free Trial</li>
        </div>
        <div class="footer-links">
            <h6 class="footer-header3">Links</h6>
            <li class="footer-company-list">Help</li>
            <li class="footer-company-list footer-company-top">Privacy Policy</li>
            <li class="footer-company-list footer-company-top1">Terms of Use</li>
            <li class="footer-company-list footer-company-top2">Services</li>
        </div>
    </div>
    <hr class="footer-hr">
    <div class="footer-company-content">© copyright 2020 by Fetchcoders.com</div>
</div>