<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,100&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
<div>
    <h3>Our Blog</h3>
    <p class="blog-hd-content">
        In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit commodo,
        vel
        bibendum erat blandit. Nulla sit amet neque varius imperdiet purus. Nulla sit amet neque varius imperdiet purus
    </p>
    <img src="/assets/image/blogImg2.png" alt="" class="blog-img2">
    <img src="/assets/image/blogImg1.png" alt="" class="blog-img1">
</div>
<section>
    <div class="blog-card1">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>
    <div class="blog-card2">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>
    <div class="blog-card3">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>
    <div class="blog-card4">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>

    <div class="blog-card5">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>
    <div class="blog-card6">
        <div class="blog-card-img">
            <div class="blog-card-date"><span class="date-num">{{currentDate}}</span><span
                    class="date-month">{{currentMonth}}</span>
            </div>
        </div>
        <div class="blog-card-header">
            How stay calm from the first time
        </div>
        <div class="blog-card-content">
            In tortor ipsum, facilisis quis quam eu, posuere vulputate lorem. Suspendisse faucibus nisi vel velit
            commodo, vel bibendum erat blandit. Nulla sit amet neque varius imperdiet purus
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->