<div class="question-container">
    <img src="/assets/image/contactImg2.png" alt="" class="contact-img2">
    <div class="question-img1">Frequently Asked Questions</div>
    <div class="question-img2">Want to Ask Something <br> From Appton?</div>
    <img src="/assets/image/Img3.png" alt="" class="question-img3">
    <div class="question-background1">
        <app-questions-accordian></app-questions-accordian>
    </div>
    <!-- <div class="question-background2">
        <app-questions-accordian></app-questions-accordian>
    </div> -->
    <!-- <div class="question-background1 question-background3-top">
        <app-questions-accordian></app-questions-accordian>
    </div>
    <div class="question-background1 question-background4-top">
        <app-questions-accordian></app-questions-accordian>
    </div>
    <div class="question-background1 question-background5-top">
        <app-questions-accordian></app-questions-accordian>
    </div> -->
</div>