<div class="question-container">
    <img src="/assets/image/contactImg2.png" alt="" class="contact-img2">
    <img src="/assets/image/Frequently.png" alt="" class="question-img1">
    <img src="/assets/image/WanttoAsk.png" alt="" class="question-img2">
    <img src="/assets/image/Img3.png" alt="" class="question-img3">
    <div class="question-background1">
        <p class="question-content1">Pre and post launch mobile app marketing pitfalls to avoid</p>
    </div>
    <div class="question-background2">
        <p class="question-content1 question-content1-color">Pre and post launch mobile app marketing pitfalls to
            avoid</p>
        <p class="question-content1-p">There are many variations of passages of available but majority have
            alteration in some by inject humour
            or random words. Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="question-background1 question-background3-top">
        <p class="question-content1">Pre and post launch mobile app marketing pitfalls to avoid</p>
    </div>
    <div class="question-background1 question-background4-top">
        <p class="question-content1">Pre and post launch mobile app marketing pitfalls to avoid</p>
    </div>
    <div class="question-background1 question-background5-top">
        <p class="question-content1">Pre and post launch mobile app marketing pitfalls to avoid</p>
    </div>
</div>