.question-container {
  position: absolute;
  width: 1440px;
  height: 1000px;
  left: 0px;
  right: 0%;
  top: 5130px;
  margin: auto;
}

.question-img1 {
  position: absolute;
  height: 18px;
  left: 45%;
  right: 25%;
  top: 30px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #fd632f;
}

.question-img2 {
  position: absolute;
  height: 111px;
  left: 30%;
  right: 25%;
  top: 70px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 55px;
  color: #252c4b;
  text-align: center;
}

.question-img3 {
  position: absolute;
  height: 926px;
  width: 1440px;
  left: 0%;
  right: 0%;
  top: 200px;
}

.question-background1 {
  position: absolute;
  height: 87px;
  left: 12%;
  right: 10%;
  top: 300px;
  background: #ffffff;
}

.question-background3-top {
  top: 520px;
}

.question-background4-top {
  top: 630px;
}

.question-background5-top {
  top: 740px;
}

.question-content1 {
  position: absolute;
  height: 18.8px;
  left: 6.46%;
  right: 44.94%;
  top: 28px;
  color: rgba(37, 44, 75, 1);
}

.question-content1-color {
  color: #5f60ed;
}

.question-background2 {
  position: absolute;
  height: 87px;
  left: 12%;
  right: 10%;
  top: 410px;
  background: #ffffff;
  border: 1px solid #e8e8ef;
}

.question-content1-p {
  position: absolute;
  height: 45px;
  left: 6.34%;
  right: 20.07%;
  top: 100px;
  font-size: 16px;
  color: #737789;
}
