* {
  box-sizing: 1440px;
}

.container {
  clear: both;
  overflow: auto;
}

nav {
  float: right;
}

.logo img {
  float: left;
  height: 100px;
  left: 150px;
  top: 20px;
  border-radius: 0px;
  padding: 30px;
}

ul li {
  display: inline-block;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #737789;
  padding: 30px;
}

ul li a {
  text-decoration: none;
}

ul li:hover {
  color: orange;
}
