/* You can add global styles to this file, and also import other style files
li.home {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 88.11%;
  top: 0px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
} */
