.frameImg {
  position: absolute;
  height: 129px;
  left: 25%;
  top: 40px;
  width: 129px;
  border-radius: 25px;

  background: linear-gradient(180deg, #5f60ed 0%, #f77454 100%);
  border-radius: 25px;
}

.boxtopic {
  position: absolute;
  width: 118px;
  height: 24px;
  left: calc(50% - 118px / 2);
  top: 195px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.boxcontent {
  position: absolute;
  width: 139px;
  height: 87px;
  left: calc(50% - 139px / 2 + 0.5px);
  top: 253px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #737789;
}
