<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<div class="content-box">
    <header class="header">
        Your Account
    </header>
    <ul>
        <li class="log-route"><a routerLink="/log">Login</a></li>
        <button class="register-buttn"><a class="reg-button-text" routerLink="/reg">Register</a></button>
    </ul>


    <!-- Register Form -->

</div>